@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --dark-primary-color: #1c262a;
  --dark-primary-rgb-value: 28, 38, 42;
  --dark-secondary-color: #2f3539;
  --dark-ternary-color: #3a4750;
  --details-primary-color: #ffe93b;
  --details-secondary-color: #d82733;
  --details-light-primary-color: #fefefe;

  --app-background-color: var(--dark-primary-color);
  --app-secondary-background-color: var(--dark-secondary-color);

  --nav-indicator-color: var(--details-primary-color);
  --nav-dark-light-switch-bgc-color: var(--details-primary-color);
  --nav-dark-light-switch-color: var(--dark-primary-color);
  --nav-text-color: var(--details-primary-color);

  --nav-icons-active-filter-values: invert(100%) sepia(100%) saturate(0%)
    hue-rotate(320deg) brightness(103%) contrast(102%);
  --nav-icons-inactive-filter-values: invert(100%) sepia(100%) saturate(0%)
    hue-rotate(320deg) brightness(103%) contrast(102%);

  --primary-button-color: var(--details-secondary-color);
  --secondary-button-color: var(--dark-ternary-color);

  --primary-text-color: var(--details-light-primary-color);
  --secondary-text-color: #fd413c;
}

.app-container.light {
  --light-primary-color: #233043;
  --light-primary-rgb-value: 35, 48, 67;
  --light-secondary-color: #dee0e4;
  --light-ternary-color: #0d2845;
  --details-primary-color: #d82733;
  --details-secondary-color: #1250ca;
  --details-light-primary-color: #ebe9e8;

  --app-background-color: var(--light-primary-color);
  --app-secondary-background-color: var(--light-secondary-color);

  --nav-indicator-color: var(--details-primary-color);
  --nav-dark-light-switch-bgc-color: var(--details-primary-color);
  --nav-dark-light-switch-color: var(--light-primary-color);
  --nav-text-color: var(--details-primary-color);

  --nav-icons-active-filter-values: invert(100%) sepia(33%) saturate(2%)
    hue-rotate(327deg) brightness(112%) contrast(101%);
  --nav-icons-inactive-filter-values: invert(14%) sepia(10%) saturate(2647%)
    hue-rotate(177deg) brightness(94%) contrast(87%);

  --primary-button-color: var(--details-secondary-color);
  --secondary-button-color: var(--light-ternary-color);

  --primary-text-color: var(--light-primary-color);
  --secondary-text-color: var(--details-light-primary-color);
}

html {
  /* -webkit-tap-highlight-color: red; */
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.app-container {
  background-color: var(--app-background-color);
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100vh;
  padding: 5px;
  padding-top: 35px;
}

@media screen and (min-width: 450px) {
  .app-container {
    width: 360px;
    margin: 40px auto;
    height: 740px;
    border-radius: 10px;
  }

  body {
    background-color: #e5e5f7;
    background-image: linear-gradient(#d4d5e1 2.2px, transparent 2.2px),
      linear-gradient(90deg, #d4d5e1 2.2px, transparent 2.2px),
      linear-gradient(#d4d5e1 1.1px, transparent 1.1px),
      linear-gradient(90deg, #d4d5e1 1.1px, #e5e5f7 1.1px);
    background-size: 55px 55px, 55px 55px, 11px 11px, 11px 11px;
    background-position: -2.2px -2.2px, -2.2px -2.2px, -1.1px -1.1px,
      -1.1px -1.1px;
  }
}

.round {
  border-radius: 50%;
}
.button,
.button-round {
  border: none;
}

.button {
  background-color: var(--primary-button-color);
  border-radius: 5px;
  color: var(--primary-text-color);
  font-size: 20px;
  opacity: 0.9;
  padding: 5px 10px;
  height: 38px;
}

.button-round {
  border-radius: 50%;
}
