@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-background-color: #1c262a;
  --secondary-background-color: #2f3539;

  --details-primary-color: #ffe93b;
  --details-secondary-color: #d82733;
  --details-tertiary-color: #3a4750;
  --details-fourth-color: #1c262a;

  --primary-text-color: #fefefe;
  --secondary-text-color: #ffe93b;
  --user-interaction-color: #ffe93b;

  --nav-icons-active-filter-values: invert(100%) sepia(100%) saturate(0%)
    hue-rotate(320deg) brightness(103%) contrast(102%);
  --nav-icons-inactive-filter-values: invert(100%) sepia(100%) saturate(0%)
    hue-rotate(320deg) brightness(103%) contrast(102%);
}

.app-container.light {
  --primary-background-color: #233043;
  --secondary-background-color: #fff;

  --details-primary-color: #d82733;
  --details-secondary-color: #d82733;
  --details-tertiary-color: #a9dcec;
  --details-fourth-color: #e1dfdf;

  --primary-text-color: #111c36;
  --secondary-text-color: #d82733;
  --user-interaction-color: #233043;

  --nav-icons-active-filter-values: invert(100%) sepia(33%) saturate(2%)
    hue-rotate(327deg) brightness(112%) contrast(101%);
  --nav-icons-inactive-filter-values: invert(14%) sepia(10%) saturate(2647%)
    hue-rotate(177deg) brightness(94%) contrast(87%);
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.app-container {
  background-color: var(--primary-background-color);
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100vh;
  padding: 5px;
  padding-top: 35px;
}

@media screen and (min-width: 450px) {
  .app-container {
    width: 360px;
    margin: 40px auto;
    height: 740px;
    border-radius: 10px;
  }

  body {
    background-color: #e5e5f7;
    background-image: linear-gradient(#d4d5e1 2.2px, transparent 2.2px),
      linear-gradient(90deg, #d4d5e1 2.2px, transparent 2.2px),
      linear-gradient(#d4d5e1 1.1px, transparent 1.1px),
      linear-gradient(90deg, #d4d5e1 1.1px, #e5e5f7 1.1px);
    background-size: 55px 55px, 55px 55px, 11px 11px, 11px 11px;
    background-position: -2.2px -2.2px, -2.2px -2.2px, -1.1px -1.1px,
      -1.1px -1.1px;
  }
}

.round {
  border-radius: 50%;
}
.button,
.button-round {
  border: none;
}

.button {
  background-color: var(--details-secondary-color);
  border-radius: 3px;
  color: var(--primary-text-color);
  font-size: 20px;
  opacity: 0.9;
  padding: 5px 10px;
  height: 38px;
  letter-spacing: 1px;
}

.app-container.light .button {
  color: #fff;
}

.button-secondary {
  background-color: var(--details-tertiary-color);
}

.app-container.light .button-secondary {
  color: var(--primary-text-color);
  font-weight: 500;
}

.button-round {
  border-radius: 50%;
}

.user-interaction-feedback,
#delete-kcals-acc--btn .user-interaction-feedback p {
  opacity: 0.8;
  background-color: var(--user-interaction-color);
}

.disabled {
  opacity: 0.45;
}

.hidden {
  display: none;
}
