/* #region NAVIGATION LIST*/

.navigation {
  align-items: center;
  border-radius: 10px;
  background-color: var(--secondary-background-color);
  display: flex;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 60px;
  justify-content: left;
  padding-left: 17px;
  position: relative;
}

.navigation ul {
  display: flex;
  margin-right: 10px;
}

.navigation ul li {
  height: 70px;
  list-style: none;
  position: relative;
  width: 60px;
  z-index: 1;
}

.navigation ul li a {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
}

.navigation ul li a .icon {
  display: block;
  font-size: 1.8em;
  line-height: 95px;
  position: relative;
  text-align: center;
  transition: 0.5s;
}

.nav-svg {
  filter: var(--nav-icons-inactive-filter-values);
}

.navigation ul li a .icon img {
  width: 32px;
}

.navigation ul li.active a .icon {
  filter: var(--nav-icons-active-filter-values);
  transform: translateY(-36px);
}

.navigation ul li a .text {
  color: var(--details-primary-color);
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.05em;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  transform: translateY(-5px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(4px);
}

.indicator {
  background-color: var(--details-primary-color);
  border-radius: 50%;
  border: 6px solid var(--primary-background-color);
  height: 60px;
  position: absolute;
  top: -50%;
  transition: 0.5s;
  width: 60px;
}

.indicator::before {
  background-color: transparent;
  box-shadow: 0px -10px 0 0 var(--primary-background-color);
  border-top-right-radius: 20px;
  content: '';
  height: 18px;
  left: -18px;
  position: absolute;
  top: 50%;
  width: 16px;
}

.indicator::after {
  background-color: transparent;
  box-shadow: 0px -10px 0 0 var(--primary-background-color);
  border-top-left-radius: 20px;
  content: '';
  height: 20px;
  position: absolute;
  right: -20px;
  top: 50%;
  width: 20px;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(60px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(60px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(60px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(60px * 3));
}

/* #endregion */

/* #region DARK LIGHT MODE SWITCH */
.navigation .toggle-switch {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 60px;
  cursor: pointer;
}

.navigation .toggle-switch .switch {
  background-color: var(--details-primary-color);
  border-radius: 25px;
  height: 30px;
  position: relative;
  width: 55px;
}

.navigation .toggle-switch .switch::before {
  transition: 0.5s;
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  background-color: var(--primary-background-color);

  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
}

/* .navigation .toggle-switch .switch::before {
  background-size: 20px 20px;
  background-color: var(--nav-dark-light-switch-color);
  background-image: url('../moon-icon.png');
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 5px;
  transition: 0.5s;
  width: 20px;
} */

.app-container.light .navigation .toggle-switch .switch::before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);

  /* background-image: url('../sun-icon.png'); */
}

/* #endregion */
