.kcal-view--container {
  border-radius: inherit;
  display: grid;
  grid-template-rows: 1fr 175px;
  height: 100%;
  row-gap: 10px;
}

.kcal-view--container .data--container {
  display: grid;
  grid-template-rows: 1fr 45px;
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
  padding: 5px;
  width: 100%;
}

/* #region PERSISTED DATA DISPLAY CONTAINER*/

.kcal-view--container .persisted-kcal-data--container {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / col-end;
}

.kcal-view--container .persisted-kcal-value {
  border-top: 1px solid var(--app-background-color);
  display: flex;
  height: 15%;
  margin-bottom: 12px;
  width: 100%;
}

.persisted-kcal-value .kcal-value {
  align-items: center;
  color: var(--primary-text-color);
  display: flex;
  font-size: 34px;
  height: 100%;
  width: 25%;
}

.persisted-kcal-value .kcal-description {
  align-items: center;
  color: var(--nav-text-color);
  display: flex;
  font-style: italic;
  font-size: 26px;
  letter-spacing: 1px;
  padding-left: 20px;
  width: 75%;
}

.persisted-kcal-value .kcal-description span {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 28px;
  padding-right: 5px;
}

.kcal-view--container .current-kcal-value {
  color: var(--nav-text-color);
  font-size: 38px;
  grid-area: 2 / 1 / 3 / 5;
  letter-spacing: 1px;
}

.app-container.light .kcal-view--container .current-kcal-value {
  color: var(--primary-text-color);
}

.kcal-view--container .current-kcal-value span {
  color: var(--primary-text-color);
  font-size: 24px;
  letter-spacing: 0px;
  margin-left: 3px;
}

.app-container.light .kcal-view--container .current-kcal-value span {
  color: var(--nav-text-color);
}

.kcal-view--container .take-over-kcal--btn {
  align-self: flex-end;
  background-color: var(--primary-button-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-text-color);
  font-size: 20px;
  grid-area: 2 / 5 / 3 / col-end;
  height: 38px;
  justify-self: right;
  letter-spacing: 1px;
  max-width: 140px;
  opacity: 0.9;
  padding: 5px 10px;
}

.app-container.light .kcal-view--container .take-over-kcal--btn {
  color: var(--secondary-text-color);
}

/* #endregion */

/* #region ADD-SUBSTRACT CALORTES*/
.kcal-view--container .add-kcals--container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}

#toggle-kcals-plus-minus--btn,
.kcal-view--container .add-kcals--btn {
  width: 20.5%;
}

.kcal-view--container .add-kcals--container .button {
  border: 2px solid var(--nav-indicator-color);
  height: 0;
  overflow: hidden;
  padding-bottom: calc(100% - 4px);
  width: 100%;
}

.kcal-view--container .add-kcals--container .add-kcals-btn--text {
  color: var(--primary-text-color);
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  margin-top: -18px;
  padding-bottom: 50%;
  padding-top: 50%;
  text-align: center;
  width: 100%;
}

/* .app-container.light
  .kcal-view--container
  .add-kcals--container
  .add-kcals-btn--text { */
/* color: var(--primary-text-color); */
/* color: var(--pr); */
/* font-weight: 500; */
/* } */

#toggle-kcals-plus-minus--btn .add-kcals-btn--text {
  background-color: var(--secondary-button-color);
  font-size: 48px;
  opacity: 0.9;
}

/* .app-container.light #toggle-kcals-plus-minus--btn .add-kcals-btn--text {
  
} */

/* #endregion */
