.kcal-view--container {
  border-radius: inherit;
  display: grid;
  grid-template-rows: 1fr 175px;
  height: 100%;
  row-gap: 10px;
}

.kcal-view--container .data--container {
  display: grid;
  grid-template-rows: 1fr 45px;
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
  padding: 5px;
  width: 100%;
}

/* #region PERSISTED DATA DISPLAY CONTAINER*/

.kcal-view--container .persisted-kcal-data--container {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / col-end;
}

.kcal-view--container .persisted-kcal-value {
  border: 2px solid rgba(var(--dark-primary-rgb-value), 0.2);
  border-radius: 7px 12px 5px 3px;
  display: flex;
  max-height: 18%;
  margin-bottom: 12px;
  flex: 1;
}

.app-container.light .kcal-view--container .persisted-kcal-value {
  border: 2px solid rgba(var(--light-primary-rgb-value), 0.3);
}

.persisted-kcal-value .kcal-value {
  align-items: center;
  border-radius: 5px 0 0 2px;
  color: var(--primary-text-color);
  display: flex;
  font-size: 185%;
  font-weight: 300;
  height: 100%;
  width: 25%;
  justify-content: right;
  padding-right: 7px;
  background-color: rgba(var(--dark-primary-rgb-value), 0.35);
}

.app-container.light .persisted-kcal-value .kcal-value {
  background-color: rgba(var(--light-primary-rgb-value), 0.1);
  color: var(--primary-text-color);
  font-weight: 400;
}

.persisted-kcal-value .kcal-description {
  align-items: center;
  color: var(--nav-text-color);
  display: flex;

  font-family: Lato, sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
  padding-left: 15px;
  width: 75%;
}

.persisted-kcal-value .kcal-description span {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 28px;
  padding-right: 5px;
}

.kcal-view--container .current-kcal-value {
  grid-area: 2 / 1 / 3 / 5;
  display: flex;
  align-items: baseline;
}

.kcal-view--container .current-kcal-value p {
  color: var(--nav-text-color);
  font-size: 38px;
  letter-spacing: 1px;
  display: inline-block;
}

.app-container.light .kcal-view--container .current-kcal-value p {
  color: var(--primary-text-color);
}

.kcal-view--container .current-kcal-value span {
  color: var(--primary-text-color);
  font-size: 24px;
  letter-spacing: 0px;
  margin-left: 3px;
  /* align-self: flex-end; */
}

.app-container.light .kcal-view--container .current-kcal-value span {
  color: var(--nav-text-color);
}

.kcal-view--container .take-over-kcal--btn {
  align-self: flex-end;
  grid-area: 2 / 5 / 3 / col-end;
  height: 38px;
  justify-self: right;
  letter-spacing: 1px;
  max-width: 140px;
}

/* .app-container.light .kcal-view--container .take-over-kcal--btn {
  color: var(--light-secondary-color);
  background-color: var(--light-ternary-color);
} */

/* #endregion */

/* #region ADD-SUBSTRACT CALORTES*/
.kcal-view--container .add-kcals--container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}

#delete-kcals-acc--btn,
.kcal-view--container .add-kcals--btn {
  width: 20.5%;
}

.kcal-view--container .add-kcals--container .button-round {
  border: 2px solid var(--nav-indicator-color);
  height: 0;
  overflow: hidden;
  padding-bottom: calc(100% - 4px);
  width: 100%;
}

.kcal-view--container .add-kcals--container .add-kcals-btn--text {
  color: var(--primary-text-color);
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  margin-top: -18px;
  padding-bottom: 50%;
  padding-top: 50%;
  text-align: center;
  width: 100%;
}

#delete-kcals-acc--btn .add-kcals-btn--text {
  background-color: var(--secondary-button-color);
  font-size: 34px;
  opacity: 0.9;
}

.app-container.light #delete-kcals-acc--btn .add-kcals-btn--text {
  background-color: var(--secondary-text-color);
  color: var(--light-ternary-colorr);
}

.user-interaction-feedback,
.take-over-kcal--btn.user-interaction-feedback {
  background-color: var(--details-primary-color);
  opacity: 0.65;
}
.app-container.light #delete-kcals-acc--btn .user-interaction-feedback {
  background-color: var(--details-primary-color);
  opacity: 0.75;
}

/* #endregion */
