.weight-view--container {
  border-radius: inherit;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.weight-view--container .data--container {
  height: calc(100% - 240px);
  padding: 5px;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.weight-view--container .add-weight--container {
  column-gap: 10px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  height: 240px;
  padding: 5px;
  row-gap: 10px;
  width: 100%;
}

#scroll-jump-up--button {
  grid-area: 4 / 1 / 5 / 2;
}

#scroll-jump-down--button {
  grid-area: 4 / 2 / 5 / 3;
}

#scroll-up--button {
  grid-area: 4 / 4 / 5 / 5;
}

#scroll-down--button {
  grid-area: 4 / 5 / 5 / 6;
}

.add-weight-button--container {
  background-color: #fff;
  grid-area: 1 / 1 / 4 / 6;
}

#add-weight-data--button {
  align-self: end;
  grid-area: 5 / 1 / 6 / 6;
}

.weight-view--container .persisted-weight-data-heading,
.weight-view--container .persisted-weight-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.3fr;
  text-align: center;
  width: 100%;
}

.weight-view--container .persisted-weight-data-heading {
  color: var(--details-primary-color);
  font-size: 18px;
  margin-bottom: 8px;
}

.weight-view--container .persisted-weight-data {
  min-height: 38px;
  flex-grow: 1.5;
  margin-bottom: 10px;
}
.weight-view--container .persisted-weight-data div {
  align-items: center;
  border-bottom: solid 1px var(--details-secondary-color);
  color: var(--primary-text-color);
  display: flex;
  font-size: 24px;
  justify-content: center;
  letter-spacing: 1px;
}

.weight-view--container .persisted-weight-data div:nth-child(odd) {
  background-color: var(--details-tertiary-color);
}
.weight-view--container .persisted-weight-data div:nth-child(even) {
  background-color: var(--details-fourth-color);
}

.weight-view--container .persisted-weight-data .date-value {
  font-size: 17px;
  letter-spacing: 0px;
}
